<h1>Ussues#list</h1>


<p>
 User:<br />
<input id = "n1" value = "">
</p>
<p>
 Repo:<br />
<input id = "n2">
</p>

 <p id = "t">"Кликать" сюда.</p>
<%= link_to "list", issues_list_path, remote: true, id:"t" %>.<br/>
<div class = 'list_div'>
</div>

 <script>
 $('#t').click( function(event){
    name();
});
var name = function (){ 
	$.ajax({
		type:"GET",	
		url: "/issues/list?user_name=" + $("#n1").val() + "&repo_name=" + $("#n2").val(),
		success: function(result){
		}
		
	});
    
}
</script>
