<h1>Issues#list</h1>
<%= form_for(@issue, url: {action: "list"},:remote => true) do |f| %>
<p>
 User:<br />
  <%= f.text_field :user,:size=>"30" %>
</p>
<p>
 Repo:<br />
  <%= f.text_field :repo,:size=>"30" %>
</p>
 <%= f.submit "Show issues list" %>
<% end %>
<div id = 'list_div'>
</div>
